*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.navbar{
    display: flex;
    align-items: center;
    padding: 0% 1%;
    /* justify-content: space-between; */
    margin-top: -34px;
}
.logo1 img{
    cursor: pointer;
    width: 135px;
}
nav{
    margin-left: 35px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left:15px ;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: #555;
    font-size: 13px;
}
.right-bar{
    flex: 1;
    text-align: right;
}
.right-bar button{
    border: none;
    background: transparent;
    padding-right: 15px;
    color: #555;
    font-size: 15px;
}
.right-bar i{
    border: none;
    background: transparent;
    padding-right: 15px;
    color: #555;
    font-size: 17px;
    cursor: pointer;
}
#Home {
    /* color: white; */
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* padding: 3px 10px; */
    margin-top: -35px;
}
#Home::before {
    content: "";
    background-image: url(/images/img-1.jpg);
    position: absolute;
    height: 90%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#Home h1 {
    color:black;
    text-align: center;
    font-size: 2.56rem;
    margin: 250px 0px 18px 145px;
}
#Home p {
    color: black;
    text-align: center;
    /* font-size: 1.56rem; */
    margin: 0px 163px;
}
.btn {
    padding: 10px 10px;
    color: white;
    background-color:black;
    /* border: 2px solid white; */
    margin: -41px 270px;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
}
.container1{
    margin-top: 180px;
    width: 100%;
    height: 250px;
   background-color: #f9f1f0; 
}
.container1 .child1{
    margin-top: -15px;
}
.container1 .child2 ul{
    list-style: none;
    display: flex;
    margin-left: 275px;
    margin-top: 25px;

}
.container1 .child2 ul li{
    text-decoration: none;
    /* padding-left: 5px; */
    padding: 15px;
    font-size: 1rem;
}
.container1 .child2 center h1{
    font-size: 2.5rem;
}
.img2{
    width: 100%;
    height: 80vh;
    /* display: block; */
}
.img2 img{
    /* margin-top: -70px; */
    width: 100%;
}
.container2{
    background-color: #f9f1f0;
}
.container2 center span h1{
    font-size: 3rem;
}
.container2 .container2-child2{
    margin-top: 15px;
    margin-left: 600px;
}
.container2 .container2-child2 a{
    margin-left: -35px;
    padding: 15px;
    color: black;
    font-size: 1.2rem;
}
.container2 .container2-child2 .btn2{
    padding: 5px 8px;
    color: white;
    background-color:black;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
}
.container4{
    position: relative;
}
.container4-child1{
    top: 5%;
    left: 43%;
    position: absolute;

}
.container4-child1 ul{
    list-style: none;
    margin-left: -230px;
    margin-top: 12px;
}
.container4-child1 h1{
    font-size: 2.3rem;
    margin-left: -10px;
}
.container4-child1 ul li{
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    font-size: 1.1rem;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 5px;
}
.container4-child2{
    position: absolute;
    bottom: 5%;
    left: 44%;
}
.container4-child2 h1{
    font-size: 3rem;
    margin-left: -68px;
}
.container4-child2 p{
margin-top: 9px;
}
.container4-child2 .btn3{
    padding: 8px 17px;
    color: white;
    background-color:black;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 22px;

}
.container5{
    position: relative;
    margin-top: -4px;
}
.container5-child1{
    top: 5%;
    left: 41%;
    position: absolute;

}
.container5-child1 ul{
    list-style: none;
    margin-left: -25px;
    margin-top: 12px;
}
.container5-child1 h1{
    font-size: 2.3rem;
    margin-left: -8px;
}
.container5-child1 ul li{
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    font-size: 1.1rem;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 5px;
}
.container5-child2{
    position: absolute;
    bottom: 5%;
    left: 44%;
}
.container5-child2 h1{
    font-size: 3.2rem;
    margin-left: -68px;
}
.container5-child3{
    display: flex;
}
.container5-child3 p {
    margin-left: -25px;
    margin-top: 15px;
}
.container5-child3 .btn4{
    padding: 8px 17px;
    color: white;
    background-color:black;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 20px;
}
.Latest-deals{
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin: 40px 0px;
}
.mobile-models{
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    width: 40%;
}
.mobile-models ul{
    list-style-type: none;
}
.mobile-models ul li{
    display: inline-block;
    margin-left: 40px;
    margin-right: 30px;
}
.mobile-models ul li a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 3px solid #000;
}
.column{
    width: 100%;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    display: flex;
    margin: auto;
    padding-right: 20px;
}
.col-4{
    position: relative;
    width: 48%;
    border-radius: 20px;
    align-items: center;
    margin: 0px 10px;
}
.col-4 .img-text{
    position: absolute;
    left: 30%;
    bottom: 12%;
}
.col-4 .img-text .btn5{
    padding: 8px 17px;
    color: white;
    background-color:black;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 12px;
}
.col-5{
   display: flex;
   flex-wrap: wrap;
}
.col-5 .item1{
    margin-left: 43px;
    width: 43%;
    position: relative;
    /* border-radius: 35px;
    border: 1px solid white; */
}
.col-5 .item1 .item1-text{
    position: absolute;
    bottom: 18%;
    left: 19%;
}
.col-5 .item1 .item1-text h1{
margin-bottom: 15px;
}
.col-5 .item1 .item1-text .btn5{
    padding: 8px 17px;
    color: white;
    background-color:black;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
}
.heading2{
    font-size: 2.3rem;
    margin-top: 20px;
    margin-left: 470px;
}
.container6{
    /* padding: 190px; */
    display: flex;
    width: 100%;
    margin-top: 40px;
    margin-left: 170px;
}
.container6 .container6-child1{
  background-color:#FFF5EE;
   width: 17%;
   border: 1px solid white;
   border-radius: 30px;
   margin-left: 25px;
}
.container6 .container6-child1 img{
margin: 60px 30px 40px 30px;
}
.container6 .container6-child1 .child1-text{
    margin-left: 50px;
}
.container6 .container6-child1 .child1-text .radio-button{
    margin-left: 5px;
    padding: 5px;
}
.container6 .container6-child1 .child1-text .btn6{
    padding: 14px 54px 10px 42px;
    color: white;
    background-color:black;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -20px;
}
.container6 .container6-child2{
    width: 17%;
    background-color:#FFF5EE;
  border: 1px solid white;
  border-radius: 30px;
  margin-left: 25px;
}
.container6 .container6-child2 img{
    margin: 45px 30px 0px 30px;
    }
    .container6 .container6-child2 .child2-text{
        margin-left: 10px;
    }
    .container6 .container6-child2 .child2-text .p3{
        color: blueviolet;
        font-size: 0.9rem;
        margin-top: 6px;
        margin-bottom: 15px;
    }
    .container6 .container6-child2 .child2-text .p2{
        margin-top: 15px;
        margin-left: 35px;
        margin-bottom: 15px;
    }
    .container6 .container6-child2 .child2-text .p1{
        margin-bottom: 6px;
        margin-left: 25px;
    }
    .container6 .container6-child2 .child2-text h4{
        margin-top: 31px;
        margin-bottom: 90px;
    }
    .container6 .container6-child2 .child2-text .btn6{
        padding: 14px 54px 10px 42px;
        color: white;
        background-color:black;
        font-size: 1rem;
        border-radius: 25px;
        cursor: pointer;
        margin-top: 5px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
.container6 .container6-child3{
width: 17%;
background-color:#FFF5EE;
border: 1px solid white;
border-radius: 30px;
margin-left: 25px;
}
.container6 .container6-child3 img{
    margin: 60px 30px 40px 30px;
    }
    .container6 .container6-child3 .child3-text h3{
    margin-top: -25px;
    margin-left: 50px;        
    }
    .container6 .container6-child3 .child3-text .p3{
        margin-top: 30px;
    }
.container6 .container6-child3 .child3-text .btn6{
    padding: 14px 54px 10px 42px;
    color: white;
    background-color:black;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 105px;
    margin-left: 20px;
    margin-bottom: 10px;
    }
.container6 .container6-child4{
    width: 17%;
    background-color:#FFF5EE;
    border: 1px solid white;
    border-radius: 30px;
   margin-left: 25px;
}
.container6 .container6-child4 img{
    margin: 60px 30px 60px 30px;
    }